set default=0
set timeout=8

source /boot/grub/config.cfg

menuentry "Start Spaced Linux 8.26.9" --hotkey=s {
    linux @KERNEL_LIVE@ @APPEND_LIVE@
    initrd @INITRD_LIVE@
}

menuentry "Start Spaced Linux 8.26.9 (safe graphics)" {
    linux @KERNEL_LIVE@ boot=live components nosplash nomodeset module_blacklist=nouveau modprobe.blacklist=nouveau nouveau.modeset=0 nvidia-drm.modeset=0 username=user hostname=spaced
    initrd @INITRD_LIVE@
}

menuentry "Start Spaced Linux 8.26.9 (verbose boot)" {
    linux @KERNEL_LIVE@ boot=live components noplymouth console=tty0 noquiet loglevel=7 username=user hostname=spaced
    initrd @INITRD_LIVE@
}

submenu "Spaced Linux utilities" --hotkey=u {
    source /boot/grub/theme.cfg

    if [ "${grub_platform}" = "efi" ]; then
        menuentry "UEFI Firmware Settings" --hotkey=f {
            fwsetup
        }
    fi

    if @ENABLE_VERIFY_CHECKSUMS@; then
        menuentry "Verify the Spaced Linux boot medium" --hotkey=v {
            linux @KERNEL_LIVE@ @APPEND_VERIFY_CHECKSUMS@
            initrd @INITRD_LIVE@
        }
    fi
}
