[Desktop Entry]
Type=Application
Name=About Spaced Linux
Comment=Show the Spaced Linux release, logo, website, and donation links
Exec=spaced-system-info
Icon=/usr/share/pixmaps/spaced-medallion.png
Terminal=false
Categories=System;
OnlyShowIn=MATE;
StartupNotify=true
