[Desktop Entry]
Type=Application
Name=About Spaced Linux
Comment=Open Spaced Welcome help and tutorials
Exec=spaced-welcome --page help
Icon=/usr/share/pixmaps/spaced-medallion.png
Terminal=false
Categories=System;
OnlyShowIn=MATE;
StartupNotify=true
