[Desktop Entry]
Type=Application
Name=Caja
Comment=Browse and manage the file system
Exec=/usr/bin/caja
Icon=caja
Terminal=false
Categories=System;Utility;Core;
MimeType=inode/directory;application/x-gnome-saved-search;
StartupNotify=true
X-MATE-Bugzilla-BugzillaProduct=Caja
X-MATE-Bugzilla-BugzillaComponent=general
