[Desktop Entry]
Type=Application
Version=1.0
Name=Install Spaced Linux
GenericName=System Installer
Comment=Install Spaced Linux on this computer
Exec=/usr/local/bin/install-spaced-linux
Icon=install-spaced-linux
Terminal=false
Categories=System;
StartupNotify=true
